<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cliente/client.css">
    <title>Registro</title>
</head>
<body>

    <header>
        <h1>Venta mayorista ByGardenia</h1>
    </header>
    <main>
        <form id="form-cliente">
            <div>
                <label for="nom">Nombre</label>
                <input type="text" id="nom" required>
            </div>
            <div>
                <label for="ape">Apellido</label>
                <input type="text" id="ape" required>
            </div>
            <div>
                <label for="ape">Telefono</label>
                <input type="text" id="tele" required>
            </div>
            <div>
                <label for="dni">DNI</label>
                <input type="text" id="DNI" required>
            </div>
            <div>
                <label for="provincia">Provincia</label>
                <input type="text" id="provincia">
            </div>
            <div>
                <label for="localidad">Localidad</label>
                <input type="text" id="localidad">
            </div>
            <div>
                <label for="cp">Código postal</label>
                <input type="number" id="cp">
            </div>
            <div>
                <label for="dire">Dirección</label>
                <input type="text" id="dire">
            </div>
            <div>
                <label for="metodo">Método de envió</label>
                <select name="metodo" id="metodo-e" required>
                    <option disabled selected>Seleccione una opción</option>
                    <option value="1">Via cargo</option>
                    <option value="2">Correo Argentino</option>
                </select>
            </div>
            <div>
                <input type="submit">
            </div>
            <div>
                <span id="text"></span>
            </div>
        </form>
    </main>
    <footer>

    </footer>
<script src="/cliente/cliente.js"></script>
</body>
</html>