<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/private.css">
    <title>Document</title>
</head>
<body>
    
    <header>
        <h1>Lista de clientes</h1>
        <a href="/menu">volver</a>
    </header>
    <main>
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Dni</th>
                    <th>Provincia</th>
                    <th>Localidad</th>
                    <th>Código postal</th>
                    <th>Dirección</th>
                    <th>Empresa de envio</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody id="table">
                <!--JS-->
            </tbody>
        </table>
    </main>
    <footer></footer>

    <script src="./clientes.js"></script>
</body>
</html>